* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-top: 5%;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, h1 {
  text-align: center;
  margin-left:30%;
  margin-right:30%;
  margin-bottom: 2%;
  background-color: lavender;
  border: 3px solid lightblue;
  border-radius: 10px;
}

li {
  list-style: none;
}

link:hover {
  
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkblue;
  color: rgb(255, 187, 0);
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  border: 3px double rgb(255, 187, 0);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  text-align:center;
}